{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<style>
  .card {
    box-shadow: 0px 0px 15px rgba(0,0,0,.2);
  }
</style>

<div class="offset-3 col-9 bg-light text-dark">
  <div class="p-4 pb-0">
    <h4 class="text-muted"><strong>Registrar visitante</strong></h4>
    <hr>
  </div>

  <div class="row p-4">
    <div class="card">
      <div class="card-body">
        <br>
        <h4 class="text-primary">Formulário para registro:</h4>
        <br>

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <div class="alert alert-info" role="alert">
          O asterisco (*) indica a obrigatoriedade do preenchimento do campo do formulário.
        </div>
  <form method="POST">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group col-12 p-3">
        <label class="mb-2">{{ field.label }} {% if field.field.required %} * {% endif %} </label>
        {% render_field field placeholder=field.label class="form-control" %}
      </div>
    {% endfor %}

    <div class="col-12 p-3 d-flex">
        <button class="ms-auto btn btn-lg btn-primary" type="submit">
          <span>
            Registrar
          </span>
        </button>
    </div>
  </form>
</div>
  </div>
</div>
</div>
                
{% endblock content %}
